@import url(//db.onlinewebfonts.com/c/17b2f1ec96bd9046eb5f6de9ce797d0b?family=NFL+RedZone);


.logo-font { 
  font-family: NFL RedZone;
}


ul {
    list-style-type: none;
}


.darkback-low-opacity {
  background-color: rgba(240, 240, 226, 0.6);
}

.image-resize-nfl {
  width: 90px;
  height: 90px;
}

.image-resize-nba {
  width: 100px;
  height: 100px;
}


.panel-title {
  display: inline;
  font-weight: bold;
}

.pl-zero { 
  padding-left: 0px;
 }

 .data-container div {
  display: inline-block;
  min-height: 50px;
  height: auto;
}

.exp-date {
  width: 170px;
}

.jumbotron {
  width: 1300px;
}


.linknavs {

  background: transparent;
  
}


.linknavs a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:  rgb(139, 138, 138);
  display: block;
  
}


.navbar {
  width: 100%;
}
