  <div class="mx-auto w-75">    
    <LinkTo @route ="scores"><img class="mt-5 image-resize float-left " src="/assets/images/nfl.jpg" alt="nfl"></LinkTo>
    <LinkTo @route ="nba"><img class="mt-5 image-resize float-right " src="/assets/images/nba.jpg" alt="nba"></LinkTo>
  </div>
  
{{outlet}}