<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Home Page
    </h1>
    <p class="lead">Here we can put standings for each sport/ live updates (stretch) </p>
  </div>
</div>

{{outlet}}