
<div class="container mt-5 sway-font" style="background-color:rgb(128, 128, 128,0.7); border-radius: 10px;">
    <h1 class="text-center pt-5" style="color:white">RECENT HIGHLIGHTS</h1>
{{#each this.model as |video|}}

    <div class="pl-5 mt-5 mb-5 pb-5">
        {{{video.embedHtml}}}
    </div>
{{/each}}



</div>

{{outlet}}